In [67]:
import pandas as pd
from pandas.io import sql
import geopandas as gpd
import numpy as np
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine
from matplotlib import rcParams
import matplotlib.pyplot as plt
import matplotlib.ticker as tick
import os
import dotenv
import csv
import seaborn as sns

%matplotlib inline

In [2]:
%reload_ext dotenv
%dotenv ../.env

In [3]:
cnx = create_engine(os.getenv('EDMDB'))

In [4]:
sql.execute('''
DROP TABLE IF EXISTS dcp.pluto_points, 
dcp.irrlot_regular, dcp.irrlot_irregular
''', cnx)

In [5]:
sql.execute('''
CREATE TABLE dcp.pluto_points AS
SELECT "BBL" as bbl,
(ST_DumpPoints(geom)).path AS path,
(ST_DumpPoints(geom)).geom AS geom,
"Borough" as borough,
(ST_DumpPoints(geom)).path[1] AS path_1,
(ST_DumpPoints(geom)).path[2] AS path_2,
(ST_DumpPoints(geom)).path[3] AS path_3
FROM dcp.pluto192
WHERE geom IS NOT NULL
AND "LotArea" > 15000
AND (ST_Area(ST_OrientedEnvelope(geom)) - ST_Area(geom)) / ST_Area(geom) * 100 > 15;
''', cnx)

In [6]:
sql.execute('''
ALTER TABLE dcp.pluto_points
ADD PRIMARY KEY (bbl, path_1, path_2, path_3);
''', cnx)

In [7]:
sql.execute('''
CREATE INDEX pluto_points_geom_idx ON dcp.pluto_points USING GIST (geom);
''', cnx)

In [8]:
%run -i '../python/IrrLot.py'

Selecting points from pluto 19.1 table using cursor.fetchall
Records read:  1000
Records read:  2000
Records read:  3000
Records read:  4000
Records read:  5000
Records read:  6000
Records read:  7000
Records read:  8000
Records read:  9000
Records read:  10000
Records read:  11000
Records read:  12000
Records read:  13000
Records read:  14000
Records read:  15000
Records read:  16000
Records read:  17000
Records read:  18000
Records read:  19000
Records read:  20000
Records read:  21000
Records read:  22000
Records read:  23000
Records read:  24000
Records read:  25000
Records read:  26000
Records read:  27000
Records read:  28000
Records read:  29000
Records read:  30000
Records read:  31000
Records read:  32000
Records read:  33000
Records read:  34000
Records read:  35000
Records read:  36000
Records read:  37000
Records read:  38000
Records read:  39000
Records read:  40000
Records read:  41000
Records read:  42000
Records read:  43000
Records read:  44000
Records read:  45000
Records read:  46000
Records read:  47000
Records read:  48000
Records read:  49000
Records read:  50000
Records read:  51000
Records read:  52000
Records read:  53000
Records read:  54000
Records read:  55000
Records read:  56000
Records read:  57000
Records read:  58000
Records read:  59000
Records read:  60000
Records read:  61000
Records read:  62000
Records read:  63000
Records read:  64000
Records read:  65000
Records read:  66000
Records read:  67000
Records read:  68000
Records read:  69000
Records read:  70000
Records read:  71000
Records read:  72000
Records read:  73000
Records read:  74000
Records read:  75000
Records read:  76000
Records read:  77000
Records read:  78000
Records read:  79000
Records read:  80000
Records read:  81000
Records read:  82000
Records read:  83000
Records read:  84000
Records read:  85000
Records read:  86000
Records read:  87000
Records read:  88000
Records read:  89000
Records read:  90000
Records read:  91000
Records read:  92000
Records read:  93000
Records read:  94000
Records read:  95000
Records read:  96000
Records read:  97000
Records read:  98000
Records read:  99000
Records read:  100000
Records read:  101000
Records read:  102000
Records read:  103000
Records read:  104000
Records read:  105000
Records read:  106000
Records read:  107000
Records read:  108000
Records read:  109000
Records read:  110000
Records read:  111000
Records read:  112000
Records read:  113000
Records read:  114000
Records read:  115000
Records read:  116000
Records read:  117000
Records read:  118000
Records read:  119000
Records read:  120000
Records read:  121000
Records read:  122000
Records read:  123000
Records read:  124000
Records read:  125000
Records read:  126000
Records read:  127000
Records read:  128000
Records read:  129000
Records read:  130000
Records read:  131000
Records read:  132000
Records read:  133000
Records read:  134000
Records read:  135000
Records read:  136000
Records read:  137000
Records read:  138000
Records read:  139000
Records read:  140000
Records read:  141000
Records read:  142000
Records read:  143000
Records read:  144000
Records read:  145000
Records read:  146000
Records read:  147000
Records read:  148000
Records read:  149000
Records read:  150000
Records read:  151000
Records read:  152000
Records read:  153000
Records read:  154000
Records read:  155000
Records read:  156000
Records read:  157000
Records read:  158000
Records read:  159000
Records read:  160000
Records read:  161000
Records read:  162000
Records read:  163000
Records read:  164000
Records read:  165000
Records read:  166000
Records read:  167000
Records read:  168000
Records read:  169000
Records read:  170000
Records read:  171000
Records read:  172000
Records read:  173000
Records read:  174000
Records read:  175000
Records read:  176000
Records read:  177000
Records read:  178000
Records read:  179000
Records read:  180000
Records read:  181000
Records read:  182000
Records read:  183000
Records read:  184000
Records read:  185000
Records read:  186000
Records read:  187000
Records read:  188000
Records read:  189000
Records read:  190000
Records read:  191000
Records read:  192000
Records read:  193000
Records read:  194000
Records read:  195000
Records read:  196000
Records read:  197000
Records read:  198000
Records read:  199000
Records read:  200000
Records read:  201000
Records read:  202000
Records read:  203000
Records read:  204000
Records read:  205000
Records read:  206000
Records read:  207000
Records read:  208000
Records read:  209000
Records read:  210000
Records read:  211000
Records read:  212000
Records read:  213000
Records read:  214000
Records read:  215000
Records read:  216000
Records read:  217000
Records read:  218000
Records read:  219000
Records read:  220000
Records read:  221000
Records read:  222000
Records read:  223000
Records read:  224000
Records read:  225000
Records read:  226000
Records read:  227000
Records read:  228000
Records read:  229000
Records read:  230000
Records read:  231000
Records read:  232000
Records read:  233000
Records read:  234000
Records read:  235000
Records read:  236000
Records read:  237000
Records read:  238000
Records read:  239000
Records read:  240000
Records read:  241000
Records read:  242000
Records read:  243000
Records read:  244000
Records read:  245000
Records read:  246000
Records read:  247000
Records read:  248000
Records read:  249000
Records read:  250000
Records read:  251000
Records read:  252000
Records read:  253000
Records read:  254000
Records read:  255000
Records read:  256000
Records read:  257000
Records read:  258000
Records read:  259000
Records read:  260000
Records read:  261000
Records read:  262000
Records read:  263000
Records read:  264000
Records read:  265000
Records read:  266000
Records read:  267000
Records read:  268000
Records read:  269000
Records read:  270000
Records read:  271000
Records read:  272000
Records read:  273000
Records read:  274000
Records read:  275000
Records read:  276000
Records read:  277000
Records read:  278000
Records read:  279000
Records read:  280000
Records read:  281000
Records read:  282000
Records read:  283000
Records read:  284000
Records read:  285000
Records read:  286000
Records read:  287000
Records read:  288000
Records read:  289000
Records read:  290000
Records read:  291000
Records read:  292000
Records read:  293000
Records read:  294000
Records read:  295000
Records read:  296000
Records read:  297000
Records read:  298000
Records read:  299000
Records read:  300000
Records read:  301000
Records read:  302000
Records read:  303000
Records read:  304000
Records read:  305000
Records read:  306000
Records read:  307000
Records read:  308000
Records read:  309000
Records read:  310000
Records read:  311000
Records read:  312000
Records read:  313000
Records read:  314000
Records read:  315000
Records read:  316000
Records read:  317000
Records read:  318000
Records read:  319000
Records read:  320000
Records read:  321000
Records read:  322000
Records read:  323000
Records read:  324000
Records read:  325000
Records read:  326000
Records read:  327000
Records read:  328000
Records read:  329000
Records read:  330000
Records read:  331000
Records read:  332000
Records read:  333000
Records read:  334000
Records read:  335000
Records read:  336000
Records read:  337000
Records read:  338000
Records read:  339000
Records read:  340000
Records read:  341000
Records read:  342000
Records read:  343000
Records read:  344000
Records read:  345000
Records read:  346000
Records read:  347000
Records read:  348000
Records read:  349000
Records read:  350000
Records read:  351000
Records read:  352000
Records read:  353000
Records read:  354000
Records read:  355000
Pluto 19.1 point records read  355119
Regular polygons:  3560
Irregular polygons:  10579
PostgreSQL connection is closed

In [9]:
sql.execute('''
CREATE TABLE dcp.irrlot_irregular (
	bbl NUMERIC,
	irrlotcode VARCHAR(1),
	lotarea INTEGER,
	lotfront NUMERIC,
	lotdepth NUMERIC,
	front_depth_product NUMERIC,
	pluto_shape_area NUMERIC,
	geom GEOMETRY(MULTIPOLYGON, 2263),
	PRIMARY KEY (bbl)
);
''', cnx)

In [10]:
conn = psycopg2.connect(os.getenv('EDMCONN'))
cur = conn.cursor()
with open('../output/irregular_angles.csv', 'r') as f:
    reader = csv.reader(f)
    for row in reader:
        cur.execute(
            "INSERT INTO dcp.irrlot_irregular VALUES ('{0}')".format(row[0])
        )
conn.commit()

In [11]:
sql.execute('''
UPDATE dcp.irrlot_irregular i
SET geom = p.geom,
irrlotcode = p."IrrLotCode",
lotarea = p."LotArea",
lotfront = p."LotFront",
lotdepth = p."LotDepth",
front_depth_product = p."LotFront" * p."LotDepth",
pluto_shape_area = p."Shape_Area"
FROM dcp.pluto192 p
WHERE i.bbl = p."BBL";
''', cnx)

This gets the total count of lots determined to be irregular that are currently classified as regular.

In [12]:
pd.read_sql_query('''
SELECT COUNT(*) AS irregular_lot_count
FROM dcp.irrlot_irregular
WHERE irrlotcode = 'N'
''', cnx)

   irregular_lot_count
0                 1136

Sum the lotarea, shape_area, and differences for all records that were misclassified. Converting shape_area and difference totals to integer for readability.

In [13]:
pd.read_sql_query('''
SELECT SUM(lotarea) AS summed_lotarea,
CAST(SUM(pluto_shape_area) AS INTEGER) AS summed_shape_area,
CAST(SUM(pluto_shape_area - lotarea) AS INTEGER) AS summed_shape_area_lotarea_difference
FROM dcp.irrlot_irregular
WHERE irrlotcode = 'N'
''', cnx)

   summed_lotarea  summed_shape_area  summed_shape_area_lotarea_difference
0       177110723          166788994                             -10321729

In [ ]:
Breakout by landuse code

In [29]:
landuse_breakout = pd.read_sql_query('''
SELECT p."LandUse",
d.def AS landuse_definition,
SUM(lotarea) AS lotarea,
CAST(SUM(front_depth_product) AS INTEGER) AS frontxdepth,
CAST(SUM(pluto_shape_area) AS INTEGER) AS shape_area,
CAST(SUM(pluto_shape_area - lotarea) AS INTEGER) AS shape_area_lotarea_difference
FROM dcp.irrlot_irregular i,
dcp.landuse_definitions d,
dcp.pluto192 p
WHERE i.bbl = p."BBL"
AND p."LandUse" = d.landuse
AND i.irrlotcode = 'N'
GROUP BY p."LandUse", d.def
''', cnx)

In [30]:
df = pd.DataFrame(landuse_breakout, columns=['LandUse', 'landuse_definition', 'lotarea', 'frontxdepth', 'shape_area', 'shape_area_lotarea_difference'])
df

,LandUse,landuse_definition,lotarea,frontxdepth,shape_area,shape_area_lotarea_difference
0,01,One and Two Family Buildings,3826494,3531232,3582337,-244157
1,02,Multi-Family Walkup Buildings,10298882,2564905,9584671,-714211
2,03,Multi-Family Elevator Buildings,6999638,4284430,7202802,203164
3,04,Mixed Residential and Commercial,3891387,1745949,3846050,-45337
4,05,Commercial and Office,3401190,2719715,3435852,34662
5,06,Industrial and Manufacturing,1886110,1516577,1848874,-37236
6,07,Transportation and Utility,71574803,22109996,63542226,-8032577
7,08,Public Facilities and Institutions,12616775,4672692,12947319,330544
8,09,Open Space and Outdoor Recreation,34361257,41265194,50917632,16556375
9,10,Parking Facilities,1602393,1718748,1595007,-7386
10,11,Vacant Land,19817812,19159749,5081305,-14736507

In [33]:
lotarea_list = df['lotarea'].tolist()
shape_area_list = df['shape_area'].tolist()
landuse_list = df['landuse_definition'].tolist()
front_depth_list = df['frontxdepth'].tolist()
y_axis_list = lotarea_list + shape_area_list
y_axis_list.sort()

In [69]:
sns.set()
SMALL_SIZE = 8
MEDIUM_SMALL_SIZE = 10
MEDIUM_SIZE = 11
MEDIUM_LARGE_SIZE = 14
BIGGER_SIZE = 16

rcParams['font.family'] = 'sans-serif'
rcParams['font.sans-serif'] = ['Inconsolata']
plt.rc('font', size=SMALL_SIZE)
plt.rc('axes', titlesize=BIGGER_SIZE)     # fontsize of the axes title
plt.rc('axes', labelsize=MEDIUM_LARGE_SIZE)    # fontsize of the x and y labels
plt.rc('xtick', labelsize=MEDIUM_SIZE)    # fontsize of the tick labels
plt.rc('ytick', labelsize=MEDIUM_SIZE)    # fontsize of the tick labels
plt.rc('legend', fontsize=MEDIUM_SIZE)    # legend fontsize
plt.rc('figure', titlesize=BIGGER_SIZE)  # fontsize of the figure title

In [72]:
dfplot = pd.DataFrame({'lotarea': lotarea_list, 'shape_area': shape_area_list, 'frontxdepth': front_depth_list, }, index=landuse_list)
ax = dfplot.plot.bar(rot=90, figsize=(16, 10), color=['#9333AB', '#00B700', '#EE6D00'])
ax.set_xlabel("Land Use", fontweight="bold")
ax.set_ylabel("Area", fontweight="bold")
plt.xticks(np.arange(len(shape_area_list)), landuse_list)
plt.yticks(np.arange(min(y_axis_list), max(y_axis_list), 10000000))
plt.legend(loc='upper right', shadow='bool')
plt.title('LotArea v. Front x Depth v. ShapeArea for Irregular Lots Misclassified as Regular', pad=10, fontsize=16)
legend = plt.legend()
frame = legend.get_frame()
frame.set_facecolor('white')
plt.show()

IndentationError: expected an indented block (<ipython-input-72-df57575a9e8b>, line 5)

In [37]:
from ipyleaflet import Map, basemaps, GeoData, basemap_to_tiles, LayersControl, FullScreenControl, Popup, Marker
from ipywidgets import HTML

m = Map(center=(40.730610, -73.935242), zoom=11)

dark_matter_layer = basemap_to_tiles(basemaps.CartoDB.DarkMatter, close_popup_on_click=True)
m.add_layer(dark_matter_layer)

In [38]:
query = '''SELECT bbl, ST_Transform(geom, 4326) AS geom FROM dcp.irrlot_irregular WHERE irrlotcode = 'N';'''
query

"SELECT bbl, ST_Transform(geom, 4326) AS geom FROM dcp.irrlot_irregular WHERE irrlotcode = 'N';"

In [39]:
bbls = gpd.GeoDataFrame.from_postgis(sql=query, con=cnx)
bbls

               bbl                                               geom
0     1.006620e+09  MULTIPOLYGON (((-74.00842 40.74806, -74.00848 ...
1     1.007588e+09  MULTIPOLYGON (((-73.99446 40.75340, -73.99483 ...
2     1.015240e+09  MULTIPOLYGON (((-73.95056 40.78524, -73.95035 ...
3     2.023870e+09  MULTIPOLYGON (((-73.90886 40.82800, -73.90918 ...
4     2.039040e+09  MULTIPOLYGON (((-73.87650 40.83799, -73.87725 ...
...            ...                                                ...
1131  4.038720e+09  MULTIPOLYGON (((-73.86046 40.71187, -73.86053 ...
1132  4.139310e+09  MULTIPOLYGON (((-73.85835 40.65925, -73.85835 ...
1133  4.142411e+09  MULTIPOLYGON (((-73.82637 40.64936, -73.82637 ...
1134  4.158470e+09  MULTIPOLYGON (((-73.77027 40.59405, -73.77034 ...
1135  4.159338e+09  MULTIPOLYGON (((-73.79081 40.59065, -73.79080 ...

[1136 rows x 2 columns]

In [40]:
bbls_layer = GeoData(geo_dataframe = bbls, 
              style={'color': 'green', 'opacity':10, 'weight':1.9, 'dashArray':'2', 'fillOpacity':0.3},
              name = 'new')

In [41]:
m.add_layer(bbls_layer)
m.add_control(LayersControl())
m.add_control(FullScreenControl())

In [42]:
for i in range(bbls.shape[0]):
    center = (bbls.loc[i, 'geom'].centroid.y,
              bbls.loc[i, 'geom'].centroid.x)
    bbl = str(list(bbls['bbl'])[i])
    marker = Marker(location=center)
    m.add_layer(marker)
    marker.popup = HTML(value=f'''<a target='_blank' href=https://zola.planning.nyc.gov/bbl/{bbl}> {bbl} </a>''')

In [25]:
m

Map(basemap={'url': 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 'max_zoom': 19, 'attribution': 'Map …